body{
  background: #1a237e;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.app-container{
  height: auto;
  margin: 0px 0px;
  padding: 4px 16px;
  position: relative;
}

.app-title {
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  border-bottom: 1px solid #3f51b5 ;
}

.app-centralize{
  text-align: center;
}

.app-bottom{
  bottom: 0px;
}

.app-text-light{
  color: #ffffff;
}

.app-text-dark{
  color: #000000;
}
.btn-light-blue{
  background: #c5cae9;
}
